pyrogram
tgcrypto
youtube_search
git+https://github.com/yt-dlp/yt-dlp@master
py-tgcalls==0.8.1
python-dotenv
requests
aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
python-arq
future
psutil
wget
pymongo
